* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  color: black;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 18px 20px;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background-color: white;
  display: flex;
  /* Specify a background color so the content text doesn't
         bleed through the footer! */
}

header {
  top: 0;
  justify-content: space-between;
  align-items: center;
}
/* header .account {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgb(202, 196, 196);
} */
.menu:before, .menu {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* .menu-lists:before, .menu:before {
  font-family: "Material Icons" !important;
  font-feature-settings: "liga";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.menu {
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: #E6E6E6;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid black;
}
.menu .menu-link {
  color: black;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu:before {
  content: "";
  font-size: inherit;
}

.list {
  background: inherit;
  padding: 0.5em 0;
  margin: 0;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: -85px;
  color: inherit;
  font: 400 18px Roboto;
  white-space: nowrap;
  cursor: default;
  border: 1px solid black;
}
.list.hidden {
  margin-top: 0.7em;
  visibility: hidden;
  opacity: 0;
}
/* .list:before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  background: inherit;
  position: absolute;
  top: -0.375em;
  left: calc(220px / 2 - .375em);
  transform: rotate(45deg);
} */

.menu-lists {
  list-style: none;
  color: rgba(0, 0, 0, 0.907);
  padding: 0.5em 1.5rem;
  font-size: 1rem;

  /* padding-left: 2.5em; */
  margin: 0;
  position: relative;
  cursor: pointer;
}
.menu-lists:before {
  position: absolute;
  top: calc(5% + 8px);
  left: 8px;
}
.menu-lists:nth-child(1):before {
  content: "";
}
.menu-lists:nth-child(2):before {
  content: "";
}
.menu-lists:nth-child(3):before {
  content: "";
}
.menu-lists:nth-child(4):before {
  content: "";
}
.menu-lists:hover {
  background: rgba(32, 28, 28, 0.08);
}
/* hj */
footer {
  bottom: 0;
}
footer .mobile-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}


.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-list .mobile-icon {
  font-size: 1.7rem;
  color: dimgray;
}

.mobile-link {
  font-size: 0.7rem;
  color: dimgray;
  margin: 3px 0;
  letter-spacing: 1px;
  /* font-size: ; */
}

.mobile-list:hover 
 .mobile-icon
{
  transition: .3s ease;
  color: red;
}

main {
  height: 100%;
  width: 100%;
  border: 0;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  background-color: rgba(245, 245, 245, 0.934);
}

aside {
  width: 90%;
  height: 100%;
}


/* .clearfix {
  clear: both;
} */


/* profil.html */
aside .account-m {
  width: 100%;
  background-color: white;
  margin: 20px;
  /* display: flex; */
}
aside .account-m .account-aside {
  display: flex;
  height: 100px;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0 30px;
}
aside .account-m .account-aside .ac-image {
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  border-radius: 100px;
  display: grid;
  place-content: center;
  margin-right: 20px;
}

aside .account-m  .acc-list {
  padding: 15px;
}
aside .account-m  .acc-list .acc-item {
  margin: 15px 0;
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 0.8rem;
}
/* profil.html */