* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 18px 20px;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background-color: white;
  display: flex;
  /* Specify a background color so the content text doesn't
         bleed through the footer! */
}

header {
  top: 0;
  justify-content: space-between;
  align-items: center;
}

footer {
  bottom: 0;
}
footer .mobile-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}


.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-list .mobile-icon {
  font-size: 1.7rem;
  color: dimgray;
}

.mobile-link {
  font-size: 0.7rem;
  color: dimgray;
  margin: 3px 0;
  letter-spacing: 1px;
  /* font-size: ; */
}

.mobile-list:hover 
 .mobile-icon
{
  transition: .3s ease;
  color: red;
}

main {
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Ensure that the height of the element includes the  box border, not just the content */
  border: 0;
  /* Leave some space for the header and footer to  overlay. */
  border-top: 20px solid white;
  border-bottom: 20px solid white;
}

aside {
  background-color: green;
  width: 300px;
  height: 100%;
  float: left;
}

section#right {
  background-color: white;
  overflow: auto;
}

.clearfix {
  clear: both;
}
